*.aux
*.log
*.out
*.fmt
*.synctex.gz
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.pdf
content/
pdf/
.untracked/
example_bulletins/
node_modules/
dist/
dist-electron/
release/
coverage/
.vite/
*.tsbuildinfo
