# Church Information

## Basic Information

Name: Lamb of God Lutheran Church
Short name: Lamb of God
Abbreviation: LOG
Slogan: Reaching Up. Reaching Out. Reaching Across.
Church Phone: 480-283-8329
Website: MyLambofGod.org
Address: 599 E. Chandler Blvd., Phoenix, AZ 85048
Calendar: MyLambofGod.org/calendar
Facebook: facebook.com/MyLambofGod
Instagram: @LambofGodLutheran

## Pastor

- Pastor Michael Koepke
    - Pastor@MyLambofGod.org
    - 623-419-4303

## Council Members

- Name
    - email
    - phone
- Name
    - email
    - phone

## Guest Information

### Welcome

Thank you for joining us for worship this morning. In our service we gather before our almighty God to offer him our worship and praise. We also gather to strengthen ourselves through the study of God's holy and powerful Word.

### Pastor's Office Hours

If you would like to meet with Pastor Koepke, please contact him to make an appointment. Our pastor is here to serve both Lamb of God members and our community.

### Children's Room

We love having children in our service. However, if you feel your child needs to be taken out for a while, you may choose to use the children's room off the hallway near the mailboxes. We also ask everyone to reserve the back few rows for families with young children, making it easier to leave the church area if needed.
